[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bleach = "*"
urllib3 = "*"
jinja2 = "*"
requests = "*"
twine = "*"
numpy = "*"
scipy = "*"
seaborn = "*"
jupyter = "*"
pandas = "*"
xlrd = "*"
h5py = "*" 
scikit-learn = "*"
scikit-image = "*" 
tensorflow = "2.3.0"
tensorflow-probability  = "*"
tensorflow-datasets = "*"
tensorboard = "*"
nose = "*"
wandb = "*"
tqdm = "*"
twine = "*"
openslide-python = "*"
opencv-python = "*"

[dev-packages]
"flake8" = "*"
pytest = "*"
ipython = "*"
mypy = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.7"
